<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container2 {
        max-width: 560px;
        margin: auto;
        }
        .field-error {
        border-color: #dc3545;
        color: #dc3545;
        }
    </style>
</head>
    <body>
        <div th:replace="layout/top::header"></div>
        <div class="container2">
            <div class="py-5 text-center">
                <h2>글목록</h2>
            </div>
            <hr/>
            <form th:object="${}">

            </form>


        </div>
    </body>
</html>